.add_item_container {
    display: flex;
    width: 100%;

}

.add_item_input {
    width: 100%;
    font-size: 1em;
    background: transparent;
    height: 100%;
}


.add_item_input_btn {
    width: fit-content;
    font-size: 1em;
    padding: 15px;
    background: #1DAE8C;
    outline: none;
    border: none;
    cursor: pointer;

}

.item_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // padding: 5px;
    height: fit-content;
    margin-top: 15px;
    margin-bottom: 50px;
    /* border: 1px solid red; */

}


.input-control {
    width: 100%;
    height: fit-content;
    display: block;
    margin-top: 20px;

}

.input-lbl {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #321729;
    display: block;

}

.input-hint {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #321729;
    display: block;

}

.input {
    width: 100%;
    height: 40px;
    background: transparent;
    border-radius: 5px;
    border: 0.5px solid #321729;
    font-size: 0.875em;
    color: #321729;
    padding: 5px 15px;
    font-weight: 400;

}

.textarea {
    width: 100%;
    height: 150px;
    background: transparent;
    border-radius: 5px;
    border: 0.5px solid #321729;
    font-size: 0.875em;
    color: #321729;
    padding: 5px 15px;
    font-weight: 400;

}

.input::placeholder {
    font-size: 1em;
    font-weight: 400;
    color: #321729;
    opacity: .7;
}

.input.focused,
.textarea.focused {
    outline: 1px solid rgb(75, 132, 75);

}

.input.inp-error,
.textarea.inp-error {
    border: 1px solid #ee4949;

}



.inp-error-msg {
    font-size: 0.75em;
    color: #ee4949;
}




.one-item {
    width: 100%;
    margin-bottom: 15px;


    .one-item-title {
        width: 100%;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0.5px solid #B4CFA5;

        .title-label{
            font-weight: 14px;
            font-weight: 600;
        }
    
        .title-btns {
            width: 80%;
            display: flex;
            justify-content: flex-end;
           
    
            span{
                margin-left: 30px;
                font-weight: 500;
                font-size: 14px;
                cursor: pointer;
            }
    
            .item-remove{
                color: #ee4949;
            }
        }
    }

    .one-item-body{
        background: #F1F1F1;
        padding: 20px;
        // display: flex;
        // flex-direction: column;

        span{
            width: 100%;
            color: #0f7c62;
            font-size: 14px;
            display: block;
            margin-bottom: 10px;
        }

        .body-lbl{
            opacity: 0.6;
        }
        .body-text{
            font-weight: 600;
        }
    }
    


}






@media (max-width: 640px) and (min-width: 375px) {
    .item_list {
        width: 80%;
    }


}

@media (max-width: 640px) and (min-width: 520px) {
    /* .one_item{
        font-size: 2.75vw;
    } */


}

@media (max-width: 520px) and (min-width: 440px) {
    /* .one_item{
        font-size: 3vw;
    } */


}

@media (max-width: 440px) and (min-width: 375px) {
    /* .one_item{
        font-size: 3.5vw;
    } */


}

@media (max-width: 375px) and (min-width: 280px) {

    .item_list {
        width: 100%;
    }

    /* .one_item{
        font-size: 4.5vw;
    } */


}


/* @media (max-width: 520px) and (min-width: 440px){


} */