.profile-display-card-container{
    
    width: 32%;
    margin-right: 20px;
    
    // h1{
    //     margin-bottom: 20px;

    // }


    .profile-display-card-sub-container {
        background: #e3e5e0;
        padding: 30px 20px;
        height: 250px;
        position: relative;



        .profile-display-card{
           
            svg {
                width: 60px;
                height: 60px;
                fill: #526354;
                margin-right: 20px;
                opacity: .6;

                @include lg {
                    width: 70px;
                    height: 70px;
                }

                @include md {
                    width: 70px;
                    height: 70px;
                }
            }


            .profile-display-card-details{

                .lbl{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    .lbl-1{
                        width: 20%;

                    }

                    .lbl-2{
                        width: 78%;

                    }
                }
            }


            .profile-display-desc{
                width: 75%;
               
            }

        }


        .edit-container{
            width: 100%;
            position: absolute;
            right: 0;
            bottom: 20px;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .adr-desc{
                background: #B4CFA5;
                width: fit-content;
                padding: 5px 10px;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
            }

            .edit{
                width: fit-content;
                cursor: pointer;


                svg {
                    width: 15px;
                    height: 15px;
                    fill: #0f7c62;
                }

            }
        }
       
    }
}