.profile-display-card-container{
    
    width: 32%;
    margin-right: 20px;
    
    // h1{
    //     margin-bottom: 20px;

    // }


    .profile-display-card-sub-container {
        background: #e3e5e0;
        padding: 30px 20px;
        height: 250px;
        position: relative;



        .profile-display-card{
           
            svg {
                width: 60px;
                height: 60px;
                fill: #526354;
                margin-top: 0px;

                @include lg {
                    width: 70px;
                    height: 70px;
                }

                @include md {
                    width: 70px;
                    height: 70px;
                }
            }


            .profile-display-desc{
                width: 75%;
               
            }

        }


        .edit-container{
           
            position: absolute;
            right: 20px;
            bottom: 20px;

            .edit{
                width: 100%;
                cursor: pointer;


                svg {
                    width: 15px;
                    height: 15px;
                    fill: #0f7c62;
                }

            }
        }
       
    }
}