// variable ( theme color)

// $primary :#326dee !default;
// $secondary:#1ac888 !default;
// $error: #d32752 !default;
// $info: #f6c31c !default;

// color palette
$primarycolors: (
  "primary": #337364,
  "primary-1": #4b9181,
  "primary-2": #80c2b2,
  "primary-3": #effff9,
  "primary-4": #f4fdfa,
  "primary-disabled": #d5e2de,
  "search-input-text": #0d2237,
);
$secondarycolors: (
  "secondary": #ef8c68,
  "secondary-1": #ffd0bf,
  "secondary-2": #fbdbcf,
  "secondary-3": #f5ece8,
);
$blackcolors: (
  "normalblack": #02130f,
  "black-1": #092922,
  "black-2": #285b4c,
  "black-3": #72998d,
  "black-4": #f5f5f5,
  "blue": #132a50,
);
$whitecolors: (
  "normalwhite": #ffffff,
  "white-1": #accdc2,
  "white-2": #c6dcd6,
  "white-3": #d5e2de,
  "white-4": #f4f6fd,
  "grey": #677294,
);
$successcolors: (
  "success": #01913a,
  "success-1": #0bab4b,
  "success-2": #0dc556,
  "success-3": #56d689,
  "success-4": #e6faf3,
);
$infocolors: (
  "info": #b20000,
  "info-1": #cc0e0e,
  "info-2": #e01010,
  "info-3": #e95758,
  "info-4": #feeaeb,
);

// spacing

$base-padding: 0.5% !default; //12px
$base-margin: 0.75rem !default; //12px

// border
$base-border-thickness: 1px !default;
$base-border-radius: 8px !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

// font size
$base-font-size: 1rem !default; //16px
$normal-font-size: $base-font-size * 0.875 !default; //14px
$font-size-sm: $base-font-size * 0.75 !default; // 12px
$font-size-lg: $base-font-size * 1.5 !default; //24px
$font-size-xl: $base-font-size * 2 !default; // 32px
$font-size-xxl: $base-font-size * 3 !default; // 48px

// font weight
$base-font-weight: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 800 !default;
