* {
  color: inherit;
  margin: 0;
}

body {
  font-family: "Montserrat";
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

svg {
  max-width: 100%;
}

@media (min-width: 0) {
  .responsive-test {
    background-color: red;
    width: 100%;
    height: 100px;
  }
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .responsive-test {
    background-color: blue;
    width: 100%;
    height: 100px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .responsive-test {
    background-color: green;
    width: 100%;
    height: 100px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .responsive-test {
    background-color: purple;
    width: 100%;
    height: 100px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .responsive-test {
    background-color: orange;
    width: 100%;
    height: 100px;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    background-color: pink;
    width: 100%;
    height: 100px;
  }
}

.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.align-normal {
  align-items: normal;
}

.align-stretch {
  align-items: stretch;
}

.align-center {
  align-items: center;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.text-primary {
  color: #337364;
}

.text-hover-primary:hover {
  color: #337364;
}

.bg-primary {
  background-color: #337364;
}

.bg-hover-primary:hover {
  color: #337364;
}

.text-primary-1 {
  color: #4b9181;
}

.text-hover-primary-1:hover {
  color: #4b9181;
}

.bg-primary-1 {
  background-color: #4b9181;
}

.bg-hover-primary-1:hover {
  color: #4b9181;
}

.text-primary-2 {
  color: #80c2b2;
}

.text-hover-primary-2:hover {
  color: #80c2b2;
}

.bg-primary-2 {
  background-color: #80c2b2;
}

.bg-hover-primary-2:hover {
  color: #80c2b2;
}

.text-primary-3 {
  color: #effff9;
}

.text-hover-primary-3:hover {
  color: #effff9;
}

.bg-primary-3 {
  background-color: #effff9;
}

.bg-hover-primary-3:hover {
  color: #effff9;
}

.text-primary-4 {
  color: #f4fdfa;
}

.text-hover-primary-4:hover {
  color: #f4fdfa;
}

.bg-primary-4 {
  background-color: #f4fdfa;
}

.bg-hover-primary-4:hover {
  color: #f4fdfa;
}

.text-primary-5 {
  color: #b4cfa5;
}

.text-hover-primary-5:hover {
  color: #b4cfa5;
}

.bg-primary-5 {
  background-color: #b4cfa5;
}

.bg-hover-primary-5:hover {
  color: #b4cfa5;
}

.text-primary-disabled {
  color: #d5e2de;
}

.text-hover-primary-disabled:hover {
  color: #d5e2de;
}

.bg-primary-disabled {
  background-color: #d5e2de;
}

.bg-hover-primary-disabled:hover {
  color: #d5e2de;
}

.text-search-input-text {
  color: #0d2237;
}

.text-hover-search-input-text:hover {
  color: #0d2237;
}

.bg-search-input-text {
  background-color: #0d2237;
}

.bg-hover-search-input-text:hover {
  color: #0d2237;
}

.text-ash {
  color: #e3e5e0;
}

.text-hover-ash:hover {
  color: #e3e5e0;
}

.bg-ash {
  background-color: #e3e5e0;
}

.bg-hover-ash:hover {
  color: #e3e5e0;
}

.text-greenish {
  color: #192f32;
}

.text-hover-greenish:hover {
  color: #192f32;
}

.bg-greenish {
  background-color: #192f32;
}

.bg-hover-greenish:hover {
  color: #192f32;
}

.text-green {
  color: #0f7c62;
}

.text-hover-green:hover {
  color: #0f7c62;
}

.bg-green {
  background-color: #0f7c62;
}

.bg-hover-green:hover {
  color: #0f7c62;
}

.text-secondary {
  color: #ef8c68;
}

.text-hover-secondary:hover {
  color: #ef8c68;
}

.bg-secondary {
  background-color: #ef8c68;
}

.bg-hover-secondary:hover {
  color: #ef8c68;
}

.text-secondary-1 {
  color: #ffd0bf;
}

.text-hover-secondary-1:hover {
  color: #ffd0bf;
}

.bg-secondary-1 {
  background-color: #ffd0bf;
}

.bg-hover-secondary-1:hover {
  color: #ffd0bf;
}

.text-secondary-2 {
  color: #fbdbcf;
}

.text-hover-secondary-2:hover {
  color: #fbdbcf;
}

.bg-secondary-2 {
  background-color: #fbdbcf;
}

.bg-hover-secondary-2:hover {
  color: #fbdbcf;
}

.text-secondary-3 {
  color: #f5ece8;
}

.text-hover-secondary-3:hover {
  color: #f5ece8;
}

.bg-secondary-3 {
  background-color: #f5ece8;
}

.bg-hover-secondary-3:hover {
  color: #f5ece8;
}

.text-normalblack {
  color: #02130f;
}

.text-hover-normalblack:hover {
  color: #02130f;
}

.bg-normalblack {
  background-color: #02130f;
}

.bg-hover-normalblack:hover {
  color: #02130f;
}

.text-black-1 {
  color: #092922;
}

.text-hover-black-1:hover {
  color: #092922;
}

.bg-black-1 {
  background-color: #092922;
}

.bg-hover-black-1:hover {
  color: #092922;
}

.text-black-2 {
  color: #285b4c;
}

.text-hover-black-2:hover {
  color: #285b4c;
}

.bg-black-2 {
  background-color: #285b4c;
}

.bg-hover-black-2:hover {
  color: #285b4c;
}

.text-black-3 {
  color: #72998d;
}

.text-hover-black-3:hover {
  color: #72998d;
}

.bg-black-3 {
  background-color: #72998d;
}

.bg-hover-black-3:hover {
  color: #72998d;
}

.text-black-4 {
  color: #f5f5f5;
}

.text-hover-black-4:hover {
  color: #f5f5f5;
}

.bg-black-4 {
  background-color: #f5f5f5;
}

.bg-hover-black-4:hover {
  color: #f5f5f5;
}

.text-black-5 {
  color: #141e15;
}

.text-hover-black-5:hover {
  color: #141e15;
}

.bg-black-5 {
  background-color: #141e15;
}

.bg-hover-black-5:hover {
  color: #141e15;
}

.text-light-black {
  color: #f1f1f1;
}

.text-hover-light-black:hover {
  color: #f1f1f1;
}

.bg-light-black {
  background-color: #f1f1f1;
}

.bg-hover-light-black:hover {
  color: #f1f1f1;
}

.text-blue {
  color: #132a50;
}

.text-hover-blue:hover {
  color: #132a50;
}

.bg-blue {
  background-color: #132a50;
}

.bg-hover-blue:hover {
  color: #132a50;
}

.text-brown-green {
  color: #526354;
}

.text-hover-brown-green:hover {
  color: #526354;
}

.bg-brown-green {
  background-color: #526354;
}

.bg-hover-brown-green:hover {
  color: #526354;
}

.text-deep-green {
  color: #a7be86;
}

.text-hover-deep-green:hover {
  color: #a7be86;
}

.bg-deep-green {
  background-color: #a7be86;
}

.bg-hover-deep-green:hover {
  color: #a7be86;
}

.text-normalwhite {
  color: #ffffff;
}

.text-hover-normalwhite:hover {
  color: #ffffff;
}

.bg-normalwhite {
  background-color: #ffffff;
}

.bg-hover-normalwhite:hover {
  color: #ffffff;
}

.text-white-1 {
  color: #accdc2;
}

.text-hover-white-1:hover {
  color: #accdc2;
}

.bg-white-1 {
  background-color: #accdc2;
}

.bg-hover-white-1:hover {
  color: #accdc2;
}

.text-white-2 {
  color: #c6dcd6;
}

.text-hover-white-2:hover {
  color: #c6dcd6;
}

.bg-white-2 {
  background-color: #c6dcd6;
}

.bg-hover-white-2:hover {
  color: #c6dcd6;
}

.text-white-3 {
  color: #d5e2de;
}

.text-hover-white-3:hover {
  color: #d5e2de;
}

.bg-white-3 {
  background-color: #d5e2de;
}

.bg-hover-white-3:hover {
  color: #d5e2de;
}

.text-white-4 {
  color: #f4f6fd;
}

.text-hover-white-4:hover {
  color: #f4f6fd;
}

.bg-white-4 {
  background-color: #f4f6fd;
}

.bg-hover-white-4:hover {
  color: #f4f6fd;
}

.text-grey {
  color: #677294;
}

.text-hover-grey:hover {
  color: #677294;
}

.bg-grey {
  background-color: #677294;
}

.bg-hover-grey:hover {
  color: #677294;
}

.text-blueish {
  color: #eaf6f8;
}

.text-hover-blueish:hover {
  color: #eaf6f8;
}

.bg-blueish {
  background-color: #eaf6f8;
}

.bg-hover-blueish:hover {
  color: #eaf6f8;
}

.text-success {
  color: #01913a;
}

.text-hover-success:hover {
  color: #01913a;
}

.bg-success {
  background-color: #01913a;
}

.bg-hover-success:hover {
  color: #01913a;
}

.text-success-1 {
  color: #0bab4b;
}

.text-hover-success-1:hover {
  color: #0bab4b;
}

.bg-success-1 {
  background-color: #0bab4b;
}

.bg-hover-success-1:hover {
  color: #0bab4b;
}

.text-success-2 {
  color: #0dc556;
}

.text-hover-success-2:hover {
  color: #0dc556;
}

.bg-success-2 {
  background-color: #0dc556;
}

.bg-hover-success-2:hover {
  color: #0dc556;
}

.text-success-3 {
  color: #56d689;
}

.text-hover-success-3:hover {
  color: #56d689;
}

.bg-success-3 {
  background-color: #56d689;
}

.bg-hover-success-3:hover {
  color: #56d689;
}

.text-success-4 {
  color: #e6faf3;
}

.text-hover-success-4:hover {
  color: #e6faf3;
}

.bg-success-4 {
  background-color: #e6faf3;
}

.bg-hover-success-4:hover {
  color: #e6faf3;
}

.text-info {
  color: #b20000;
}

.text-hover-info:hover {
  color: #b20000;
}

.bg-info {
  background-color: #b20000;
}

.bg-hover-info:hover {
  color: #b20000;
}

.text-info-1 {
  color: #cc0e0e;
}

.text-hover-info-1:hover {
  color: #cc0e0e;
}

.bg-info-1 {
  background-color: #cc0e0e;
}

.bg-hover-info-1:hover {
  color: #cc0e0e;
}

.text-info-2 {
  color: #e01010;
}

.text-hover-info-2:hover {
  color: #e01010;
}

.bg-info-2 {
  background-color: #e01010;
}

.bg-hover-info-2:hover {
  color: #e01010;
}

.text-info-3 {
  color: #e95758;
}

.text-hover-info-3:hover {
  color: #e95758;
}

.bg-info-3 {
  background-color: #e95758;
}

.bg-hover-info-3:hover {
  color: #e95758;
}

.text-info-4 {
  color: #feeaeb;
}

.text-hover-info-4:hover {
  color: #feeaeb;
}

.bg-info-4 {
  background-color: #feeaeb;
}

.bg-hover-info-4:hover {
  color: #feeaeb;
}

.text-peach {
  color: #ffcfba;
}

.text-hover-peach:hover {
  color: #ffcfba;
}

.bg-peach {
  background-color: #ffcfba;
}

.bg-hover-peach:hover {
  color: #ffcfba;
}

.btn {
  padding: 2% 2%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: capitalize;
  transition: all ease-in-out 0.3s;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .btn {
    font-size: 7px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .btn {
    font-size: 9px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .btn {
    font-size: 10px;
  }
}

.btn-primary {
  padding: 2% 2%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: capitalize;
  transition: all ease-in-out 0.3s;
  color: #ffffff;
  background-color: #4b9181;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .btn-primary {
    font-size: 7px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .btn-primary {
    font-size: 9px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .btn-primary {
    font-size: 10px;
  }
}
.btn-primary:hover {
  background-color: #80c2b2;
}
.btn-primary:focus {
  background-color: #337364;
  outline: none;
  border: none;
}
.btn-primary:disabled,
.btn-primary [disabled] {
  background-color: #d5e2de;
  cursor: not-allowed;
}

.btn-secondary {
  padding: 2% 2%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: capitalize;
  transition: all ease-in-out 0.3s;
  color: #337364;
  background-color: #effff9;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .btn-secondary {
    font-size: 7px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .btn-secondary {
    font-size: 9px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .btn-secondary {
    font-size: 10px;
  }
}
.btn-secondary:hover {
  background-color: #effff9;
}
.btn-secondary:focus {
  background-color: #effff9;
  outline: none;
  border: none;
}
.btn-secondary:disabled,
.btn-secondary [disabled] {
  background-color: #d5e2de;
  cursor: not-allowed;
}

.btn-tertiary {
  padding: 2% 2%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: capitalize;
  transition: all ease-in-out 0.3s;
  color: #337364;
  border: 1px solid #4b9181;
  background: transparent;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .btn-tertiary {
    font-size: 7px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .btn-tertiary {
    font-size: 9px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .btn-tertiary {
    font-size: 10px;
  }
}
.btn-tertiary:hover {
  border: 1px solid #80c2b2;
  color: #80c2b2;
}
.btn-tertiary:focus {
  border: 1px solid #337364;
  color: #337364;
  outline: 1px solid #337364;
}
.btn-tertiary:disabled,
.btn-tertiary [disabled] {
  border: 1px solid #337364;
  opacity: 0.2;
  cursor: not-allowed;
}

.btn-cta {
  padding: 2% 2%;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: capitalize;
  transition: all ease-in-out 0.3s;
  color: #ffffff;
  background-color: #ef8c68;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .btn-cta {
    font-size: 7px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .btn-cta {
    font-size: 9px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .btn-cta {
    font-size: 10px;
  }
}

.container {
  padding: 0px 5.5%;
}

.container-care {
  padding: 0px 3.5%;
}

@media screen and (max-width: 480px) and (min-width: 0) {
  .__hero p {
    font-size: 10px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__hero p {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__hero p {
    font-size: 0.75rem;
  }
}
.__hero .__hero-inner {
  width: 20%;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__hero .__hero-inner {
    width: 50%;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__hero .__hero-inner {
    width: 40%;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__hero .__hero-inner {
    width: 30%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__hero .__hero-inner {
    width: 30%;
  }
}
.__hero .__hero-inner .__hero-account {
  width: 25%;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__hero .__hero-inner .__hero-account {
    width: 30%;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__hero .__hero-inner .__hero-account {
    width: 40%;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__hero .__hero-inner .__hero-account {
    width: 30%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__hero .__hero-inner .__hero-account {
    width: 30%;
  }
}
.__hero .__hero-inner .__hero-account .__hero-account-svg {
  width: 25%;
}
.__hero .__hero-inner .__hero-account .__hero-account-svg svg {
  width: minmax(12px, 18px);
  height: 12px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__hero .__hero-inner .__hero-account .__hero-account-svg svg {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__hero .__hero-inner .__hero-account .__hero-account-svg svg {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__hero .__hero-inner .__hero-account .__hero-account-svg svg {
    width: 10px;
    height: 10px;
  }
}
.__hero .__hero-inner .__hero-account p {
  width: 75%;
}

/* .__navigation {
  z-index: 10;
  position: sticky;
  top: 0px;
}
.__navigation ul {
  font-size: 16px;
  width: 20%;
} */
@media screen and (max-width: 480px) and (min-width: 0) {
  .__navigation ul {
    display: none;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__navigation ul {
    width: 45%;
    display: none;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__navigation ul {
    width: 35%;
    display: none;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__navigation ul {
    width: 30%;
    display: none;
  }
}
.__navigation ul li:last-child {
  width: 25%;
}
.__navigation ul li:last-child svg {
  width: 20px;
  height: 20px;
}

.__overlay {
  -o-border-image: fill 1 linear-gradient(116deg, rgba(244, 247, 254, 0.5), rgba(245, 236, 232, 0.7));
     border-image: fill 1 linear-gradient(116deg, rgba(244, 247, 254, 0.5), rgba(245, 236, 232, 0.7));
}

.__section1 .__heroo {
  background-image: url(../component//globals/icons/centogene.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 8%;
}
.__section1 .__heroo .section1-con h1 {
  width: 50%;
  text-align: left;
}

.__section2 {
  background: #f1f1f1;
  padding-bottom: 5%;
}
.__section2 h1 {
  margin-bottom: 40px;
}
.__section2 p {
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__section2 .__home-care-card-container {
    display: block;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__section2 .__home-care-card-container {
    display: block;
  }
}
.__section2 .__home-care-card-container ._home-care-card {
  width: 42%;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__section2 .__home-care-card-container ._home-care-card {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__section2 .__home-care-card-container ._home-care-card {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__section2 .__home-care-card-container ._home-care-card {
    width: 47%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__section2 .__home-care-card-container ._home-care-card {
    width: 45%;
  }
}
.__section2 .__home-care-card-container ._home-care-card .__home-care-card-img {
  width: 100%;
  height: 300px;
  background: grey;
  margin-bottom: 20px;
  border-radius: 6px;
}
.__section2 .__home-care-card-container ._home-care-card .__home-care-card-img img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}
.__section2 .__home-care-card-container ._home-care-card h3 {
  font-weight: bold;
  margin-bottom: 20px;
}
.__section2 .__home-care-card-container ._home-care-card p {
  margin-bottom: 20px;
}
.__section2 .__home-care-card-container ._home-care-card .__home-care-card-btn {
  width: 30%;
}

.__section3 {
  padding-bottom: 8%;
  height: auto;
}
.__section3 h1 {
  margin-bottom: 88px;
}
.__section3 h4,
.__section3 h3 {
  margin-bottom: 10px;
  width: 30%;
  font-weight: 600;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__section3 h4,
  .__section3 h3 {
    width: 50%;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__section3 h4,
  .__section3 h3 {
    width: 47%;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__section3 h4,
  .__section3 h3 {
    width: 44%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__section3 h4,
  .__section3 h3 {
    width: 42%;
  }
}
.__section3 p {
  margin-bottom: 15px;
}
.__section3 ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 8%;
       column-gap: 8%;
  row-gap: 7%;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__section3 ul {
    display: block;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__section3 ul {
    display: block;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__section3 ul {
    display: block;
  }
}
.__section3 ul li {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: minmax(400px, 50%);
}
.__section3 ul li svg {
  width: 15px;
  height: 15px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__section3 ul li svg {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__section3 ul li svg {
    width: 12px;
    height: 12px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__section3 ul li svg {
    width: 13px;
    height: 13px;
  }
}
.__section3 ul li p {
  width: 94%;
}

.__section4 {
  padding-bottom: 6%;
}
.__section4 h1 {
  margin-bottom: 48px;
}
.__section4 .__download-container {
  padding: 0px 5%;
}
.__section4 .__download-container .__downlod-btn {
  width: 47%;
  background: #d5e2de;
  cursor: pointer;
  padding: 1%;
  border: none;
  outline: none;
}
.__section4 .__download-container .__downlod-btn:hover {
  background: #accdc2;
  transition: all 0.3s ease-in;
}
.__section4 .__download-container .__downlod-btn .__download-content svg {
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__section4 .__download-container .__downlod-btn .__download-content svg {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__section4 .__download-container .__downlod-btn .__download-content svg {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__section4 .__download-container .__downlod-btn .__download-content svg {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__section4 .__download-container .__downlod-btn .__download-content svg {
    width: 70px;
    height: 70px;
  }
}

.__footer {
  padding-bottom: 12%;
  position: relative;
  overflow: hidden;
}
.__footer .__footer-logo h1 {
  cursor: pointer;
}
.__footer .__footer-logo h1:hover {
  color: #accdc2;
}
.__footer .__footer-logo .__footer-social-container {
  width: 37%;
  height: 429px;
  border-radius: 50%;
  position: absolute;
  bottom: -180px;
  left: -166px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__footer .__footer-logo .__footer-social-container {
    width: 56%;
    height: 290px;
    left: -90px;
    bottom: -170px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__footer .__footer-logo .__footer-social-container {
    width: 50%;
    height: 340px;
    left: -130px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__footer .__footer-logo .__footer-social-container {
    width: 48%;
    height: 360px;
    left: -150px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__footer .__footer-logo .__footer-social-container {
    width: 46%;
    height: 390px;
  }
}
.__footer .__footer-logo .__footer-social-container .__follow-us-con {
  position: absolute;
  width: 35%;
  top: 17%;
  left: 40%;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__footer .__footer-logo .__footer-social-container .__follow-us-con {
    margin-left: 10px;
  }
}
.__footer .__footer-logo .__footer-social-container .__follow-us-con h4 {
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__footer .__footer-logo .__footer-social-container .__follow-us-con h4 {
    margin-bottom: 10px;
  }
}
.__footer .__footer-logo .__footer-social-container .__follow-us-con ul li {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white;
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__footer .__footer-logo .__footer-social-container .__follow-us-con ul li {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__footer .__footer-logo .__footer-social-container .__follow-us-con ul li {
    width: 28px;
    height: 28px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__footer .__footer-logo .__footer-social-container .__follow-us-con ul li {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__footer .__footer-logo .__footer-social-container .__follow-us-con ul li {
    width: 32px;
    height: 32px;
  }
}
.__footer .__footer-logo .__footer-social-container .__follow-us-con ul li:hover {
  transition: ease-in 0.2s;
  width: 38px;
  height: 38px;
  opacity: 0.9;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__footer .__footer-logo .__footer-social-container .__follow-us-con ul li:hover {
    width: 22px;
    height: 22px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__footer .__footer-logo .__footer-social-container .__follow-us-con ul li:hover {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__footer .__footer-logo .__footer-social-container .__follow-us-con ul li:hover {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__footer .__footer-logo .__footer-social-container .__follow-us-con ul li:hover {
    width: 34px;
    height: 34px;
  }
}
.__footer .__footer-logo .__footer-social-container .__follow-us-con ul li svg {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.__footer .__footer-nav-container {
  width: 70%;
}
.__footer .__footer-nav-container .__footer-nav h2 {
  margin-bottom: 20px;
}
.__footer .__footer-nav-container .__footer-nav ul li {
  margin-bottom: 10px;
  cursor: pointer;
}
.__footer .__footer-nav-container .__footer-nav ul li:hover {
  color: #accdc2;
}

.big-text {
  font-size: 72px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .big-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .big-text {
    font-size: 30px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .big-text {
    font-size: 40px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .big-text {
    font-size: 54px;
  }
}

.p-text {
  font-size: 1rem;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .p-text {
    font-size: 10px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .p-text {
    font-size: 12px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .p-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .p-text {
    font-size: 16px;
  }
}

.title-text {
  font-size: 1.75rem;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .title-text {
    font-size: 12px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .title-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .title-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .title-text {
    font-size: 20px;
  }
}

.h3-text {
  font-size: 20px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .h3-text {
    font-size: 12px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .h3-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .h3-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .h3-text {
    font-size: 18px;
  }
}

.sub-title-text {
  font-size: 28px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .sub-title-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .sub-title-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .sub-title-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .sub-title-text {
    font-size: 24px;
  }
}

.normal-font-text {
  font-size: 0.875rem;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .normal-font-text {
    font-size: 7px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .normal-font-text {
    font-size: 9px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .normal-font-text {
    font-size: 11px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .normal-font-text {
    font-size: 12px;
  }
}

.letter-spacing-24 {
  line-height: 24px;
  letter-spacing: 0.34px;
}

.letter-spacing-32 {
  line-height: 32px;
  letter-spacing: 0.34px;
}

.care-header {
  font-size: 46px;
  line-height: 66px;
  letter-spacing: 0.92px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .care-header {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.7px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .care-header {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .care-header {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.7px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .care-header {
    font-size: 38px;
    line-height: 58px;
    letter-spacing: 0.92px;
  }
}

.faq-header {
  font-size: 36px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .faq-header {
    font-size: 20px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .faq-header {
    font-size: 24px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .faq-header {
    font-size: 28px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .faq-header {
    font-size: 30px;
  }
}

.__btn-texts {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2.5%;
}
.__btn-texts .__arrow-bg {
  transform: rotate(45deg);
  margin-left: 7px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__btn-texts .__arrow-bg {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__btn-texts .__arrow-bg {
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__btn-texts .__arrow-bg {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__btn-texts .__arrow-bg {
    width: 27px;
    height: 27px;
  }
}
.__btn-texts .__arrow-bg svg {
  transform: rotate(-45deg);
  fill: white;
  width: 17px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__btn-texts .__arrow-bg svg {
    width: 10px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__btn-texts .__arrow-bg svg {
    width: 12px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__btn-texts .__arrow-bg svg {
    width: 13px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__btn-texts .__arrow-bg svg {
    width: 15px;
  }
}
.__btn-texts h2 {
  font-weight: 600;
}
.__btn-texts:hover h2 {
  color: #80c2b2;
  transition: all 0.3s ease-in-out;
}
.__btn-texts:hover .__arrow-bg {
  background-color: #80c2b2;
  transition: all 0.3s ease-in-out;
}


.__care-nav {
  align-items: center;
  z-index: 10;
  position: sticky;
  top: 0px;
}
.__care-nav .__care-nav-location {
  cursor: pointer;
}
.__care-nav .__care-nav-location:hover p {
  color: #35767e;
}
.__care-nav .__care-nav-location:hover p svg {
  fill: #35767e;
}
.__care-nav .__care-nav-location p {
  align-items: center;
  gap: 5px;
}
.__care-nav .__care-nav-location p svg {
  width: 15px;
  height: 15px;
  fill: #192f32;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__care-nav .__care-nav-location p svg {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__care-nav .__care-nav-location p svg {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__care-nav .__care-nav-location p svg {
    width: 12px;
    height: 12px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__care-nav .__care-nav-location p svg {
    width: 13px;
    height: 13px;
  }
}
.__care-nav ul {
  width: 30%;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__care-nav ul {
    display: none;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__care-nav ul {
    width: 45%;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__care-nav ul {
    width: 35%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__care-nav ul {
    width: 35%;
  }
}
.__care-nav ul li {
  cursor: pointer;
}
.__care-nav ul li:hover {
  color: #0e5342;
}
.__care-nav ul li:last-child {
  align-items: center;
  gap: 5px;
}
.__care-nav ul li:last-child svg {
  width: 15px;
  height: 15px;
  fill: #192f32;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__care-nav ul li:last-child svg {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__care-nav ul li:last-child svg {
    width: 9px;
    height: 9px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__care-nav ul li:last-child svg {
    width: 11px;
    height: 11px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__care-nav ul li:last-child svg {
    width: 12px;
    height: 12px;
  }
}

.__care-section-1 {
  padding-top: 52px;
  padding-bottom: 50px;
}
.__care-section-1 .__sub-section-1 {
  border-radius: 10px;
}
.__care-section-1 .__sub-section-1 .__sub-left {
  width: 50%;
  padding: 64px 3.5% 0px 2.5%;
  z-index: 9;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__care-section-1 .__sub-section-1 .__sub-left {
    padding: 14px 3.5% 0px 2.5%;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__care-section-1 .__sub-section-1 .__sub-left {
    padding: 20px 3.5% 0px 2.5%;
  }
}
.__care-section-1 .__sub-section-1 .__sub-left h1 {
  margin-bottom: 80px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__care-section-1 .__sub-section-1 .__sub-left h1 {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__care-section-1 .__sub-section-1 .__sub-left h1 {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__care-section-1 .__sub-section-1 .__sub-left h1 {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__care-section-1 .__sub-section-1 .__sub-left h1 {
    margin-bottom: 70px;
  }
}
.__care-section-1 .__sub-section-1 .__sub-left p {
  line-height: 24px;
  letter-spacing: 0.03px;
  width: 75%;
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__care-section-1 .__sub-section-1 .__sub-left p {
    margin-bottom: 10px;
    line-height: 18px;
    width: 95%;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__care-section-1 .__sub-section-1 .__sub-left p {
    margin-bottom: 15px;
    line-height: 19px;
    width: 90%;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__care-section-1 .__sub-section-1 .__sub-left p {
    margin-bottom: 20px;
    line-height: 21px;
    width: 85%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__care-section-1 .__sub-section-1 .__sub-left p {
    margin-bottom: 25px;
    line-height: 23px;
    width: 80%;
  }
}
/* .__care-section-1 .__sub-section-1 .__sub-left  {
  justify-content: space-between;
  align-items: end;
  padding: 3% 2%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  width: 130%;
  margin-bottom: 87px;
} */
@media screen and (max-width: 480px) and (min-width: 0) {
  .__care-section-1 .__sub-section-1 .__sub-left .__floating {
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__care-section-1 .__sub-section-1 .__sub-left .__floating {
    display: block;
    margin-bottom: 20px;
  }
}
.__care-section-1 .__sub-section-1 .__sub-left .__floating .__floating-input {
  width: 40%;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__care-section-1 .__sub-section-1 .__sub-left .__floating .__floating-input {
    width: 100%;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__care-section-1 .__sub-section-1 .__sub-left .__floating .__floating-input {
    width: 100%;
  }
}
.__care-section-1 .__sub-section-1 .__sub-left .__floating .__floating-input p {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__care-section-1 .__sub-section-1 .__sub-left .__floating .__floating-input p {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__care-section-1 .__sub-section-1 .__sub-left .__floating .__floating-input p {
    margin-bottom: 8px;
  }
}
.__care-section-1 .__sub-section-1 .__sub-left .__floating button {
  padding: 1% 2%;
  outline: none;
  border: none;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__care-section-1 .__sub-section-1 .__sub-left .__floating button {
    padding: 1% 2%;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__care-section-1 .__sub-section-1 .__sub-left .__floating button {
    padding: 2% 2%;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__care-section-1 .__sub-section-1 .__sub-left .__floating button {
    padding: 2% 2%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__care-section-1 .__sub-section-1 .__sub-left .__floating button {
    padding: 1.4% 2%;
  }
}
.__care-section-1 .__sub-section-1 .__sub-right {
  z-index: 6;
  background: #e3e5e0;
  width: 48%;
  /* opacity: 0.5; */
  border-radius: 0px 10px 10px 0px;
}
.__care-section-1 .__sub-section-1 .__sub-right img {
  border-radius: 0px 10px 10px 0px;
  height: 100%;
  width: 100%;
}

.__care-service-section {
  padding: 0px 18% 3% 18%;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__care-service-section {
    padding: 0px 10% 3% 10%;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__care-service-section {
    padding: 0px 13% 3% 13%;
    margin-bottom: 20px;
  }
}
.__care-service-section .__care-service-section-top-con {
  border: 1px solid #b4cfa5;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  padding: 1% 2%;
}
.__care-service-section .__care-service-section-top-con p {
  font-weight: 500;
}
.__care-service-section .__care-service-section-bottom-con {
  border: 1px solid #b4cfa5;
  border-radius: 0px 0px 10px 10px;
  padding: 2% 2% 3% 2%;
  justify-content: space-between;
  align-items: center;
}
.__care-service-section .__care-service-section-bottom-con button {
  width: 30%;
  padding: 8% 0px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.__care-service-section .__care-service-section-bottom-con button:hover {
  background: #9caeb2;
}
.__care-service-section .__care-service-section-bottom-con button:nth-child(2):hover {
  background: #798d5e;
}
.__care-service-section .__care-service-section-bottom-con button:nth-child(3):hover {
  background: #d5a997;
}
.__care-service-section .__care-service-section-bottom-con button svg {
  width: 12px;
  height: 12px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__care-service-section .__care-service-section-bottom-con button svg {
    width: 7px;
    height: 7px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__care-service-section .__care-service-section-bottom-con button svg {
    width: 8px;
    height: 8px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__care-service-section .__care-service-section-bottom-con button svg {
    width: 9px;
    height: 9px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__care-service-section .__care-service-section-bottom-con button svg {
    width: 10px;
    height: 10px;
  }
}

.__FAQ {
  justify-content: space-between;
  padding-bottom: 10%;
}
.__FAQ .__FAQ-img {
  width: 35%;
  height: 480px;
  background: palegreen;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__FAQ .__FAQ-img {
    display: none;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__FAQ .__FAQ-img {
    display: none;
  }
}
.__FAQ .__FAQ-img img {
  width: 100%;
  height: 100%;
}
.__FAQ .__FAQ-questions {
  width: 60%;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__FAQ .__FAQ-questions {
    width: 100%;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__FAQ .__FAQ-questions {
    width: 100%;
  }
}
.__FAQ .__FAQ-questions h1 {
  margin-bottom: 15px;
}
.__FAQ .__FAQ-questions p {
  margin-bottom: 34px;
}
.__FAQ .__FAQ-questions .FAQ-dropdown-container {
  width: 100%;
  margin-bottom: 10px;
}
.__FAQ .__FAQ-questions .FAQ-dropdown-container .FAQ-drop {
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding: 1.5% 2%;
  border: 1px solid #b4cfa5;
  cursor: pointer;
}
.__FAQ .__FAQ-questions .FAQ-dropdown-container .FAQ-drop:hover {
  background: #d7d7d7;
  transition: 0.5s ease-in-out;
}
.__FAQ .__FAQ-questions .FAQ-dropdown-container .FAQ-drop p {
  margin-bottom: 0px;
}
.__FAQ .__FAQ-questions .FAQ-dropdown-container .FAQ-drop svg {
  cursor: pointer;
}
.__FAQ .__FAQ-questions .FAQ-dropdown-container .FAQ-dropdown {
  border: 1px solid #b4cfa5;
  padding: 1.5% 2%;
}
.__FAQ .__FAQ-questions .FAQ-dropdown-container .FAQ-dropdown p {
  margin-bottom: 0px;
}
.__FAQ .__FAQ-questions .FAQ-sub-con {
  margin-top: 40px;
}
.__FAQ .__FAQ-questions .FAQ-sub-con h3 {
  margin-bottom: 10px;
}
.__FAQ .__FAQ-questions .FAQ-sub-con p {
  margin-bottom: 25px;
}
.__FAQ .__FAQ-questions .FAQ-sub-con button {
  outline: none;
  border: none;
  padding: 1.5% 3%;
}
.__FAQ .__FAQ-questions .FAQ-sub-con button:hover {
  background: #425044;
  transition: 0.3s ease-in-out;
}

.__ratings {
  margin-bottom: 60px;
}
.__ratings .__rating-top {
  padding: 1%;
}
.__ratings .__rating-top h3 {
  text-align: center;
}
.__ratings .__rating-bg {
  position: relative;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}
.__ratings .__rating-bg .__grid-box {
  background: #526354;
}
/* .__ratings .__rating-bg .__rating-content {
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2% 4%;
  inset: 0px;
}
.__ratings .__rating-bg .__rating-content .__angle {
  width: 8%;
  display: flex;
  align-items: center;
}
.__ratings .__rating-bg .__rating-content .__angle svg {
  width: 100%;
  height: 120px;
  fill: #b4cfa5;
  cursor: pointer;
}
.__ratings .__rating-bg .__rating-content .__angle svg:hover {
  fill: #7f9872;
}
.__ratings .__rating-bg .__rating-content .__rating-content-grid {
  width: 70%;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 20%;
  grid-template-columns: repeat(2, 1fr);
} */

.search-container-with-icon {
  width: 100%;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .search-container-with-icon {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .search-container-with-icon {
    margin-bottom: 10px;
  }
}
.search-container-with-icon .search-input-box-with-icon {
  background: #f1f1f1;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .search-container-with-icon .search-input-box-with-icon {
    height: 18px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .search-container-with-icon .search-input-box-with-icon {
    height: 20px;
  }
}
.search-container-with-icon .search-input-box-with-icon span {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container-with-icon .search-input-box-with-icon span svg {
  width: 12px;
  height: 12px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .search-container-with-icon .search-input-box-with-icon span svg {
    width: 7px;
    height: 7px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .search-container-with-icon .search-input-box-with-icon span svg {
    width: 9px;
    height: 9px;
  }
}
.search-container-with-icon .search-input-box-with-icon input {
  width: 85%;
  border: none;
  outline: none;
  background: none;
  padding: 2%;
  /* font-size: 12px; */
  font-weight: 500;
  color: #192f32;
}
.search-container-with-icon .search-input-box-with-icon input::-moz-placeholder {
  opacity: 0.9;
}
/* .search-container-with-icon .search-input-box-with-icon input::placeholder {
  opacity: 0.9;
} */

@media screen and (max-width: 480px) and (min-width: 0) {
  .__rating-card {
    padding: 6% 15% 4% 6%;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__rating-card {
    padding: 6% 15% 4% 6%;
  }
}
.__rating-card .__rating-stars {
  display: flex;
  gap: 2px;
  align-items: center;
  margin-bottom: 15px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__rating-card .__rating-stars {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__rating-card .__rating-stars {
    margin-bottom: 10px;
  }
}
.__rating-card .__rating-stars svg {
  width: 12px;
  height: 12px;
  fill: #ef8c68;
}
.__rating-card .__rating-text {
  margin-bottom: 18px;
  line-height: 24px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__rating-card .__rating-text {
    font-size: 8px;
    margin-bottom: 10px;
    line-height: 10px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__rating-card .__rating-text {
    font-size: 9px;
    margin-bottom: 12px;
    line-height: 15px;
  }
}
.__rating-card .__rating-date {
  font-size: 12px;
}
@media screen and (max-width: 480px) and (min-width: 0) {
  .__rating-card .__rating-date {
    font-size: 8px;
  }
}
@media screen and (max-width: 720px) and (min-width: 480px) {
  .__rating-card .__rating-date {
    font-size: 9px;
    line-height: 15px;
  }
}
@media screen and (max-width: 960px) and (min-width: 720px) {
  .__rating-card .__rating-date {
    font-size: 10px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 960px) {
  .__rating-card .__rating-date {
    font-size: 11px;
  }
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.5%;
}

.p-2 {
  padding: 1%;
}

.p-3 {
  padding: 1.5%;
}

.p-4 {
  padding: 2%;
}

.p-5 {
  padding: 2.5%;
}

.p-6 {
  padding: 3%;
}

.p-7 {
  padding: 3.5%;
}

.p-8 {
  padding: 4%;
}

.p-9 {
  padding: 4.5%;
}

.p-10 {
  padding: 5%;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.5%;
}

.pl-2 {
  padding-left: 1%;
}

.pl-3 {
  padding-left: 1.5%;
}

.pl-4 {
  padding-left: 2%;
}

.pl-5 {
  padding-left: 2.5%;
}

.pl-6 {
  padding-left: 3%;
}

.pl-7 {
  padding-left: 3.5%;
}

.pl-8 {
  padding-left: 4%;
}

.pl-9 {
  padding-left: 4.5%;
}

.pl-10 {
  padding-left: 5%;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.5%;
}

.pr-2 {
  padding-right: 1%;
}

.pr-3 {
  padding-right: 1.5%;
}

.pr-4 {
  padding-right: 2%;
}

.pr-5 {
  padding-right: 2.5%;
}

.pr-6 {
  padding-right: 3%;
}

.pr-7 {
  padding-right: 3.5%;
}

.pr-8 {
  padding-right: 4%;
}

.pr-9 {
  padding-right: 4.5%;
}

.pr-10 {
  padding-right: 5%;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.5%;
}

.pt-2 {
  padding-top: 1%;
}

.pt-3 {
  padding-top: 1.5%;
}

.pt-4 {
  padding-top: 2%;
}

.pt-5 {
  padding-top: 2.5%;
}

.pt-6 {
  padding-top: 3%;
}

.pt-7 {
  padding-top: 3.5%;
}

.pt-8 {
  padding-top: 4%;
}

.pt-9 {
  padding-top: 4.5%;
}

.pt-10 {
  padding-top: 5%;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.5%;
}

.pb-2 {
  padding-bottom: 1%;
}

.pb-3 {
  padding-bottom: 1.5%;
}

.pb-4 {
  padding-bottom: 2%;
}

.pb-5 {
  padding-bottom: 2.5%;
}

.pb-6 {
  padding-bottom: 3%;
}

.pb-7 {
  padding-bottom: 3.5%;
}

.pb-8 {
  padding-bottom: 4%;
}

.pb-9 {
  padding-bottom: 4.5%;
}

.pb-10 {
  padding-bottom: 5%;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 8px;
}

.br-none {
  border-radius: 0;
}

.br-lg {
  border-radius: 16px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.display-g {
  display: grid;
}

.font-sm {
  font-size: 0.75rem;
}

.font-norm {
  font-size: 0.875rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.75rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semi {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-bolder {
  font-weight: 800;
}/*# sourceMappingURL=index.css.map */