.enquiries{
    width: 100%;
    background: #F5ECE8;
    padding: 20px 5.5% 80px 5.5%;
    margin-top: 20vh;


    .enq-title{
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        color: #0F7C62;
    }

    .enq-elements{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .enq-el{
            width: fit-content;
            height: fit-content;
            display: flex;
            align-items: center;
            margin-top: 80px;
            transition: all ease-in-out 0.7s;
            
            .enq-el-icon-con{
                background: #fff;
                
                width: 80px;
                height: 80px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;

                svg{
                    width: 50px;
                    height: 50px;
                    opacity: 0.6;
                }
            }

            .enq-el-text{
                font-size: 36px;
                font-weight: 600;
                font-style: italic;
                cursor: pointer;

                &:hover{
                    opacity: 0.5;
                }
            }
        }

    }




}