.sign-in {
	height: 90vh;
	width: 100%;
	background: var(--greyish);
	padding: 4% 9%;
	/* background: yellow; */
	display: flex;
	justify-content: center;
}
.signin-details-container {
	background: var(--greyish);
	/* background: green; */
	width: 100%;
	/* height: 100%; */
	box-shadow: var(--shadow);
	border-radius: 10px;
	display: flex;
}

.login-container {
	width: 32%;
	background: var(--white);
	/* height: 100%; */
	border-radius: 0px 10px 10px 0px;
	padding: 2% 2.4%;
	/* background: hotpink; */
}
.signin-details {
	width: 68%;
	padding: 2%;
	border-radius: 10px 0px 0px 10px;
	/* display: grid; */

	/* grid-template-columns: auto auto; */
	/* gap: 30px; */
	/* padding: 30px 20px; */
	/* padding: 3% 2%; */
	display: flex;
	/* flex-direction: column; */
	/* gap: 0px; */
	flex-wrap: wrap;
	/* height: auto; */
}
.card {
	display: flex;
	width: 50%;
	/* height: auto; */
	/* background: rgb(251, 255, 17); */
	justify-content: space-between;
}
.details-card-icon {
	/* background-color: aquamarine; */
	width: 13%;
}
.details-card-icon svg {
	width: 35px;
	height: 35px;
	fill: var(--primary-green);
}

.card:nth-child(5) .details-card-icon svg {
	fill: var(--orange-color);
}
.details-card-texts {
	width: 85%;
	/* background: lawngreen; */
}
.details-card-texts h2 {
	font-size: 1rem;
	font-weight: 600;
	/* width: 80%; */
	color: var(--secondary-green);
}
.details-card-texts p {
	font-size: 13px;
	font-weight: normal;
	color: var(--secondary-black);
	/* width: 82%; */
	margin-top: 5px;
}
