.navigation {
	background: var(--white);
	height: 10vh;
	width: 100%;
	/* border: 1px solid red; */
	padding: 1% 3%;
	display: flex;
	justify-content: space-between;
}
.logo h1 {
	/* border: 1px solid green; */
	font-size: 2rem;
}
.nav-button-container {
	width: 20%;
	background: var(--orange-color);
	border-radius: 10px;
}
.nav-button-container button {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: transparent;
	border-radius: 10px;
	font-size: 1rem;
	font-weight: 600;
	color: var(--white);
}
