.progress-bar-container{
    width: 100%;
    padding: 0 3.5%;

}


.progress-bar{
    width: 100%;
    height: 8px;
    background: #d5e2de;
    border-radius: 2px;
    margin: auto;
    overflow: hidden;
}

.progress-bar-filler{
    height: 100%;
    background: #A7BE86;
    transition: width 0.3s ease-in-out;
}