.custom-thin-element{
   

    .another-btn{
        width: fit-content;
        cursor: pointer;
        margin: 20px auto;

        svg{
            color: #0f7c62;
            margin-right: 10px;
            width: 30px;
            height: 30px;
        }

        p{
            color: #0f7c62;
            font-weight: 400;
            font-size: 16px;
        }

    }

}