.find-sections{

    width: 100%;
}

.find-c-con{
    width: 40vw;
    box-shadow: #e3e5e0 0px 4px 6px 0px;
    padding: 80px 40px;
    margin: auto;

    .find-c-con-1{
        width: 100%;
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #E6F0EC;

        svg{
            width: 25px;
            height: 25px;
            fill: #0F7C62;
        }

        .find-c-con-1-text{
            width: 90%;
            color: #0F7C62;
            font-weight: 500;
        
        }
    }

    .find-c-con-2{
        display: block;
        width: 90%;
        font-size: 18px;
        margin: auto;
        text-align: left;
        margin-top: 15px;
        line-height: 32px;
    }

    a{
        display: block;
        width: 100%;
        background: #141E15;
        color: #fff;
        text-align: center;
        padding: 20px;
        margin: 100px 0 40px 0;
        font-size: 18px;
        font-weight: 500;

    }
}
