.__caregiver-profile {
  padding: 3% 3.5% 30% 3.5%;
  height: 100vh;
  @include xl {
    height: 90vh;
  }
  @include sm {
    height: 120vh;
  }
  h1 {
    margin-bottom: 60px;
  }
  .__profile-btn-section {
    background: #d8f0e1;
    margin-bottom: 50px;

    .profile-btns {
      border: 1px solid map-get($primarycolors, primary-5);
      width: 16vw;
      padding: 10px 20px;
      text-align: center;
      background: transparent;
      cursor: pointer;

      &:hover{
        background: #E3E5E0;
      }
      



      @include sm {
        padding: 0.5% 1%;
        // display: block;
        font-size: 8px;
      }
    }

    .profile-btns.active-tab{
      background: #E3E5E0;
      border: none;
    }


  }

  .__profile-display-section{
    width: 100%;
    height: fit-content;
  }
 
}
